* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* body {
  background-color: #1B2838;
} */

.user_reviews {
  color: #c6d4df;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  display: block;
  background-color: #1B2838;
}

.h2reviews {
  border-top: 1px solid black;
  margin-bottom: 0px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}

.user_reviews_summary_bar {
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2a475e;
  box-shadow: 0 0 5px black;
  position: inline-block;
  min-height: 38px;
}

.user_reviews_summary_bar .summary {
  display: inline-block;
  margin-right: 15px;
  color: #8ba6b6;
  min-width: 320px;
}

.user_reviews_summary_bar .title {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 5px;
  color: #e5e5e5;
}

.user_reviews_summary_bar .game_review_summary {
  cursor: help;
  font-weight: bold;
  font-size: 17px;
  line-height: 9px;
  text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
  color: #66C0F4;
}

.user_reviews_sub_header {
  padding-top: 5px;
  border-top: 1px solid black;
  font-weight: 300;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  position: relative;
}

.user_reviews_most_helpful_days {
  text-transform: uppercase;
  font-size: 14px;
  color: #56707f;
}

#reviews_filter_options {
  position: relative;
}

.user_reviews_filter_menu {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.user_reviews_filter_menu .flyout{
  padding: 0px;
  position: absolute;
}

.review_type {
  border-left: 1px solid #2a475e;
  position: relative;
  float: left;
  padding-right: 10px;
  box-shadow: 0 0 5px #000;
}

.review_type .title {
  text-transform: uppercase;
  font-size: 10px;
  color: #4582a5;
  padding: 10px;
  padding-right: 20px;
  cursor: pointer;
}

.user_reviews_filter_menu_flyout {
  position: absolute;
  display: none;
  padding: 10px;
  color: #556772;
  line-height: 20px;
  z-index: 10;
}

.user_reviews_filter_menu_flyout_content {
  position: relative;
  white-space: nowrap;
}

.user_reviews_filter_menu:hover .user_reviews_filter_menu_flyout,
.user_reviews_filter_menu_flyout:hover {
	display: block;
	background-color: #c6d4df;
}

.user_reviews_filter_options.flyout input {
  vertical-align: text-top;
}

input[type="radio"] {
  background-color: initial;
  cursor: default;
  -webkit-appearance: radio;
  box-sizing: border-box;
  border: initial;
}

input {
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  font: 400 13.3333px Arial;
}

label {
  cursor: default;
}

.review_box {
  background-color: rgba( 0, 0, 0, 0.2 );
  margin-bottom: 26px;
  min-height: 100%;
  position: absolute;
}

#ReviewContent {
  border-bottom: 26px solid #1B2838;
}

.review_box .leftcol {
  float: left;
  padding: 8px;
  opacity: 0.6;
}

.avatar {
  width: 34px;
  height: 34px;
  position: relative;
  border-radius: 0;
  padding: 1px;
}

.review_box .avatar {
  float: left;
  padding-right: 8px;
  display: block;
}

.avatar img {
  width: 32px;
  height: 32px;
  padding: 1px;
  border-radius: 0;
  border: none;
}

.review_box .username {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  margin-bottom: -1px;
  display: inline-block;
  color: #c1dbf4;
  font-size: 13px;
  font-weight: bold;
}

.review_box .num_owned_games {
  font-size: 11px;
  color: #626366;
  display: block;
  line-height: 17px;
}

.review_box .num_owned_games:hover {
  filter: invert(1);
}

.review_box .num_reviews {
  font-size: 11px;
  color: #626366;
  display: block;
  color: #c1dbf4;
}

.review_box .num_reviews:hover {
  filter: saturate(4);
}

.review_box .rightcol {
  padding: 8px 8px 8px 16px;
  float: left;
  width: 400px;
  position: relative;
}

.rightcol {
  width: 308px;
  margin-left: 14px;
  float: right;
}


.tooltiptext {
  visibility: hidden;
  right: 10px;
  position: absolute;
	padding: 0px 10px;
	box-shadow: 0 0 5px #000;
	background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);
	background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
  z-index: 1;
  color:black;
  border-radius: 6px;
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  left: 50%;
  cursor: pointer;
}

.review_box .vote_header {
  margin: 8px 0 13px;
  display: block;
  background: rgba( 0, 0, 0, 0.2 );
  height: 40px;
}

.review_box .vote_header:hover {
  background: rgba( 255, 255, 255, 0.1 );
}

.review_box .vote_header .thumb {
  float: left;
  margin-right: 10px;
}

.review_box .vote_header .title {
  font-size: 16px;
  color: #d6d7d8;
  font-weight: normal;
  padding: 3px 0px 0px 0px;
  line-height: 19px;
}

.review_box .vote_header .hours {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  color: #8091a2;
  opacity: 0.6;
}

.review_box .vote_header .review_source {
  float: right;
  margin-right: 5px;
  margin-top: 12px;
  opacity: 0.5;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review_box .postedDate {
  margin: 0px 0px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-style: normal;
  color: #8091a2;
  display: inline-block;
  opacity: 0.6;
}

.partial .content {
  max-height: 200px;
  overflow: visible;
  position: relative;
}

.partial .view_more {
  color: #67c1f5;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

.review_box .content {
  margin-right: 8px;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #acb2b8;
  overflow-wrap: break-word;
  overflow: hidden;
}

.partial .content .gradient {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 30px;
  background: linear-gradient( to bottom, rgba( 22,32,45,0) 5%, rgba( 22,32,45,.95) 95%);
}

.expanded .review_box .posted {
  font-size: 10px;
  font-style: italic;
  color: #626366;
  margin: 0px;
}

.expanded .content .gradient, .expanded .view_more {
  display: none;
}

#ReviewContent .posted .line {
  background-color: #363f4c;
  height: 1px;
}

.review_box .control_block {
  margin: 8px 0;
  display: inline-block;
}

.votecontrol {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("http://54.67.101.150:4200/img/votecontrolicons.png") no-repeat top left;
  vertical-align: text-top;
  display: table-cell;
  position: relative;
}

.voteUp {
  background-position: -112px -16px;
}

.voteUp:hover {
  background-position: -144px -16px;
}

.voteDown {
  background-position: -64px -16px;
}

.voteDown:hover {
  background-position: -80px -16px;
}

.voteFunny {
  background-position: -208px -16px;
}

.voteFunny:hover {
  background-position: -224px -16px;
}

.control_block button {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #66c0f4;
  vertical-align: left;
  margin: 16px;
}

button > span {
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  padding: 16px;
}

.control_block button:hover {
  filter: saturate(4);
}

.control_block button:focus {
  background-color: #97d1f3;
  outline: none;
  box-shadow: none;
}

.review_box .vote_info {
  padding: 0px 9px 8px 0px;
  font-size: 12px;
  color: #647580;
  background-color: rgba( 0, 0, 0, 0.2 );
  min-height: 16px;
}

.miniprofile_hover {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1200;
}

.miniprofile_hover .shadow_content {
  margin: 11px;
}

.miniprofile_hover .container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 200px;
  font-weight: normal;
}

.miniprofile_hover .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -3;
  background: radial-gradient( ellipse farthest-corner at 20% 30%, rgb( 76, 80, 91 ) 0%, rgb( 52, 55, 63 ) 50%, rgb( 40, 44, 50 ) 100% );
}

.miniprofile_hover .backgroundblur {
  width: 380px;
  height: 380px;
  filter: blur( 10px ) saturate( 2 );
  position: absolute;
  left: -60px;
  top: -60px;
  opacity: 0.4;
  -webkit-mask: radial-gradient( ellipse farthest-corner at 150px 150px, rgba( 0, 0, 0, 1 ) 0%, rgba( 0, 0, 0, 0.6 ) 20%, rgba( 0, 0, 0, 0.3 ) 34%, rgba( 0, 0, 0, 0 ) 64% );
  mask: radial-gradient( ellipse farthest-corner at 150px 150px, rgba( 0, 0, 0, 1 ) 0%, rgba( 0, 0, 0, 0.6 ) 20%, rgba( 0, 0, 0, 0.3 ) 34%, rgba( 0, 0, 0, 0 ) 64% );
  mix-blend-mode: screen;
}

.miniprofile_hover .playersection {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 30px;
  padding: 16px;
}

.miniprofile_hover .playersection .playersection_avatar {
  width: 40px;
  height: 40px;
  background: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.miniprofile_hover .playersection .playersection_avatar img {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: none;
}

.miniprofile_hover .playersection .player_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  text-shadow: 1px 1px 4px #000;
}

.miniprofile_hover .playersection .player_content .persona, .miniprofile_hover .playersection .player_content .secondaryname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
  font-size: 14px;
}

.miniprofile_hover .details {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
}

.miniprofile_hover .featured {
  display: flex;
  flex-direction: row;
  height: 34px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.miniprofile_hover .featured .playerdescription {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.miniprofile_hover .featured .playerdescription .type {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b1b1b1;
}

.miniprofile_hover .featured .playerdescription .xp {
  font-size: 12px;
  color: #6b6a6a;
}

.friendPlayerLevel {
  margin-top: 0;
  border-color: #d95b43;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  border: solid white 2px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  cursor: default;
}

.friendPlayerLevel .friendPlayerLevelNum {
  color: #e5e5e5;
}
