* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}

html {
	height: 100%;
}

body {
  background-color: #1B2838;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
}
