
#ReviewContent {
  border-bottom: 26px solid #1B2838;
}

.review_box .rightcol {

}

.rightcol {

}


.tooltiptext {

}

.tooltip:hover .tooltiptext {

}

.review_box .vote_header {

}

.review_box .vote_header:hover {

}

.review_box .vote_header .thumb {

}

.review_box .vote_header .title {

}

.review_box .vote_header .hours {

}

.review_box .vote_header .review_source {

}

.ellipsis {

}

.review_box .postedDate {

}

.partial .content {
  max-height: 200px;
  overflow: visible;
  position: relative;
}

.partial .view_more {
  color: #67c1f5;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

.review_box .content {
  margin-right: 8px;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #acb2b8;
  overflow-wrap: break-word;
  overflow: hidden;
}

.partial .content .gradient {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 30px;
  background: linear-gradient( to bottom, rgba( 22,32,45,0) 5%, rgba( 22,32,45,.95) 95%);
}

.expanded .review_box .posted {
  font-size: 10px;
  font-style: italic;
  color: #626366;
  margin: 0px;
}

.expanded .content .gradient, .expanded .view_more {
  display: none;
}

#ReviewContent .posted .line {
  background-color: #363f4c;
  height: 1px;
}

.review_box .control_block {
  margin: 8px 0;
  display: inline-block;
}

.votecontrol {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("http://54.67.101.150:4200/img/votecontrolicons.png") no-repeat top left;
  vertical-align: text-top;
  display: table-cell;
  position: relative;
}

.voteUp {
  background-position: -112px -16px;
}

.voteUp:hover {
  background-position: -144px -16px;
}

.voteDown {
  background-position: -64px -16px;
}

.voteDown:hover {
  background-position: -80px -16px;
}

.voteFunny {
  background-position: -208px -16px;
}

.voteFunny:hover {
  background-position: -224px -16px;
}

.control_block button {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #66c0f4;
  vertical-align: left;
  margin: 16px;
}

button > span {
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  padding: 16px;
}

.control_block button:hover {
  filter: saturate(4);
}

.control_block button:focus {
  background-color: #97d1f3;
  outline: none;
  box-shadow: none;
}

.review_box .vote_info {
  padding: 0px 9px 8px 0px;
  font-size: 12px;
  color: #647580;
  background-color: rgba( 0, 0, 0, 0.2 );
  min-height: 16px;
}

.miniprofile_hover {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1200;
}

.miniprofile_hover .shadow_content {
  margin: 11px;
}

.miniprofile_hover .container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 200px;
  font-weight: normal;
}

.miniprofile_hover .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -3;
  background: radial-gradient( ellipse farthest-corner at 20% 30%, rgb( 76, 80, 91 ) 0%, rgb( 52, 55, 63 ) 50%, rgb( 40, 44, 50 ) 100% );
}

.miniprofile_hover .backgroundblur {
  width: 380px;
  height: 380px;
  filter: blur( 10px ) saturate( 2 );
  position: absolute;
  left: -60px;
  top: -60px;
  opacity: 0.4;
  -webkit-mask: radial-gradient( ellipse farthest-corner at 150px 150px, rgba( 0, 0, 0, 1 ) 0%, rgba( 0, 0, 0, 0.6 ) 20%, rgba( 0, 0, 0, 0.3 ) 34%, rgba( 0, 0, 0, 0 ) 64% );
  mask: radial-gradient( ellipse farthest-corner at 150px 150px, rgba( 0, 0, 0, 1 ) 0%, rgba( 0, 0, 0, 0.6 ) 20%, rgba( 0, 0, 0, 0.3 ) 34%, rgba( 0, 0, 0, 0 ) 64% );
  mix-blend-mode: screen;
}

.miniprofile_hover .playersection {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 30px;
  padding: 16px;
}

.miniprofile_hover .playersection .playersection_avatar {
  width: 40px;
  height: 40px;
  background: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.miniprofile_hover .playersection .playersection_avatar img {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: none;
}

.miniprofile_hover .playersection .player_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  text-shadow: 1px 1px 4px #000;
}

.miniprofile_hover .playersection .player_content .persona, .miniprofile_hover .playersection .player_content .secondaryname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
  font-size: 14px;
}

.miniprofile_hover .details {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 8px 16px;
}

.miniprofile_hover .featured {
  display: flex;
  flex-direction: row;
  height: 34px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.miniprofile_hover .featured .playerdescription {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.miniprofile_hover .featured .playerdescription .type {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b1b1b1;
}

.miniprofile_hover .featured .playerdescription .xp {
  font-size: 12px;
  color: #6b6a6a;
}

.friendPlayerLevel {
  margin-top: 0;
  border-color: #d95b43;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  border: solid white 2px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  text-align: center;
  cursor: default;
}

.friendPlayerLevel .friendPlayerLevelNum {
  color: #e5e5e5;
}
